@import url("topnav.css");
@import url("restaurante.css");
@import url("menu.css");

body {
	width: 99%;
}

.topbilled img {
	position: relative;
	left: 2px;
	height: 80%;
	width: 100%;
	border-top: 130px solid;
	border-color: rgba(255,255,255,0.3);
}

.brødtekst {
	font-family: Georgia, serif;
	background-color: #fff;
}

#Menu {
	padding-top: 75px;
    overflow: hidden;
}

#Restauranten img, #Menu img, #Drikke img, #Selskab img, #Arrangementer img {
	float: left;
	position: relative;
	height: 65vh;
	width: 80%;
	left: 10%;
}

#Restauranten .restaurantentekst, #Menu .menutekst, #Drikke .Drikketekst, #Arrangementer .arrangementertekst, #Selskab .selskabtekst {
	padding-left: 10px;
	text-align: left;
	vertical-align: top;
	font-size: 20px;
	width: 30%;
}

#Restauranten .restaurantentekst, #Menu .menutekst,	#Selskab .selskabtekst {
	position: relative;
	left: 115px;
}

#Restauranten .restaurantentekst p strong, #Menu .menutekst p strong, #Drikke .Drikketekst p strong, #Arrangementer .arrangementertekst p strong, #Selskab .selskabtekst p strong {
	font-size: 25px;
}

#Restauranten .restaurantentekst h3, #Menu .menutekst h3, #Drikke .Drikketekst h3, #Arrangementer .arrangementertekst h3, #Selskab .selskabtekst h3 {
	font-size: 25px;
}

#Restauranten td.RestImg img {
	padding-top: 20px;
}

#Kontakt {
	font-size: 20px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.footertext {
	text-align: center;
	background-color: #e5e5e5;
}

.restbtn {
	background-color: #8a8a8a;
	border: 1px solid;
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

.restbtn:hover {
	opacity: 0.7;
}

table {
	padding-top: 25px;
	width: 100%;
}

#Drikke .Drikketekst, #Arrangementer .arrangementertekst {
	position: relative;
	right: 5%;
}

#Arrangementer .arrangementertekstside {
	padding-left: 10px;
	text-align: left;
	vertical-align: top;
	font-size: 20px;
	width: 30%;
}

#Drikke, #Arrangementer {
	background-color: #f2f2f2;
}

#Drikke, #Selskab, #Arrangementer, #Restauranten {
	padding-top: 55px;
}

#kort {
	padding-top: 100px;
}

.dots {
	visibility: hidden;
}
