@import url("topnav.css");
@import url("restaurante.css");

.topbilled img {
	height: 80%;
	width: 100%;
	border-top: 130px solid;
	border-color: rgba(255,255,255,0.3);
}

.brødtekst {
	font-family: ;
	background-color: #f2f2f2;
}

#Menu, #Vin, #Selskab, #Arrangementer, #Restauranten {
	padding-top: 200px;
    overflow: hidden;
}

#Restauranten img, #Menu img, #Vin img, #Selskab img, #Arrangementer img {
	float: right;
	position: relative;
	height: 65vh;
	width: 100%;
}

#Restauranten .restaurantentekst, #Menu .menutekst, #Vin .vintekst, #Selskab .selskabtekst, #Arrangementer .arrangementertekst, #Menu .frokost {
	border: 2px solid;
	padding-left: 5px;
	text-align: left;
	font-size: 20px;
	width: 30%;
}

#Restauranten td.RestImg img {
	padding-top: 20px;
}

#Kontakt {
	font-size: 20px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.footertext {
	text-align: center;
	background-color: #e5e5e5;
}

.restbtn {
	background-color: #e5e5e5;
	border: 1px solid;
	padding: 15px;
	color: #111;
	text-decoration: none;
}

.restbtn:hover {
	color: #0000ff;
}

table {
	width: 100%;
}

