@import url("topnav.css");
@import url("restaurante.css");

.topbilled img {
	height: 80%;
	width: 100%;
	border-top: 130px solid;
	border-color: rgba(255,255,255,0.3);
}

.brødtekst {
	font-family: cursive, sans-serif;
	background-color: #e9ebee;
}

#Menu, #Vin, #Selskab, #Arrangementer, #Restauranten, #Kontakt {
	padding-top: 200px;
    overflow: hidden;
}

#Restauranten img {
	float: right;
	position: relative;
	height: 65vh;
	width: 100%;
}

#Restauranten .restaurantentekst {
	 width: 25%;
}

#Restauranten td.RestImg img {
	padding-top: 20px;
}

#Kontakt {
	border: 2px solid;
}

table {
	width: 100%;
}

