div.topnav {
	min-width: 100%;
	position: fixed;
	float: right;
	margin: auto;
	left: 40%;
	font-family: cursive, sans-serif;
}

.topnav li a {
	border: 1px solid;
	border-radius: 50px;
	margin: 10px;
	text-decoration: none;
	padding: 20px;
	float: right;
	color: #111;
	text-align: center;
	font-size: 22px;
}

.topnav li a:hover {
	color: #0000ff;
}

div.topnav li {
	list-style: none;
	display: inline-block;
}

nav select {
  display: none;
}

@media (max-width: 1440px) {
  nav ul     { 
  	display: none; 
  }

  nav select { 
  	text-align: center;
  	background-color: #f2f2f2;
  	color: black;
  	padding-top: 15px;
  	padding-bottom: 15px;
    border: none;
  	display: inline-block; 
  	position: fixed; 
  	left: 78%; 
  	font-size: 15px;
  }

  nav select option {
  	text-align: center;
  	background-color: #f1f1f1;
  	color: black;
    font-size: 16px;
  }
}

div.topback img {
   max-height: 125px;
   position: fixed;
   left: 15%;*/
}

.topback {
	z-index: 1;
	top: 0%;
	position: fixed;
	padding: 2px;
	padding-right: 99.156%;
	padding-bottom: 135.5px;
	background-color: #e5e5e5;
	overflow: hidden;
}