div.topnav {
	min-width: 100%;
	position: fixed;
	float: right;
	margin: auto;
	left: 45%;
	font-family: cursive, sans-serif;
}

.topnav li a {
	margin: 10px;
	text-decoration: none;
	padding: 20px;
	float: right;
	color: #111;
	text-align: center;
}

.topnav li a:hover {
	color: #0000ff;
}

div.topnav li {
	list-style: none;
	display: inline-block;
}

nav select {
  display: none;
}

@media (max-width: 950px) {
  nav ul     { display: none; }
  nav select { display: inline-block; position: fixed; left: 80%;}
}

div.topback img {
   max-height: 125px;
   position: fixed;
   left: 15%;
}

.topback {
	z-index: 1;
	top: 0%;
	position: fixed;
	padding: 2px;
	padding-right: 99.156%;
	padding-bottom: 135.5px;
	background-color: #fff;
	overflow: hidden;
}